body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.demo {
  border:1px solid #000000;
  border-collapse:collapse;
  padding:5px;
}
.demo th {
  border:1px solid #000000;
  padding:5px;
  background:#f70101;
}
.demo td {
  border:1px solid #100f0f;
  padding:5px;
}
